{erl_opts, [debug_info,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_unused_import]}.

{deps,
 [{emas, {git, "https://github.com/erlang-mas/emas.git", {tag, "v0.1.0"}}}]
}.

{profiles,
  [{lint,  [{plugins, [{rebar3_lint, "0.1.7"}]}]}]
}.

{escript_incl_apps, [exometer_fs, getopt, emas]}.

{provider_hooks,
 [{post, [{compile, escriptize}]}]
}.

{post_hooks, [{compile, "cp $REBAR_BUILD_DIR/bin/emas_ops $REBAR_ROOT_DIR/."}]}.
